{% extends 'base.html' %}
{% block body %}
<div class="col-lg-12">
    <div class="panel panel-info">
        <div class="panel-heading">
            <strong>TODOS OS PERFIS</strong>
        </div>
        {% if perfis %}
        <ul class="panel-body list-group">
            {% for perfil in perfis %}
            <li class="list-inline list-group-item">
                <a href="{% url 'exibir' perfil.id %}">{{ perfil.nome }} / {{perfil.email}}</a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Nenhum perfil encontrado!</p>
        {% endif %}
    </div>

    <div class="panel panel-info">
        {% with total_convites_recebido=perfil_logado.convites_recebidos.count %}
        {% if total_convites_recebido %}
        <div class="panel-heading">
            <strong>
                VOCÊ TEM {{ total_convites_recebido }} 
                CONVITE{{ total_convites_recebido |pluralize}} 
                AGUARDANDO APROVAÇÃO
            </strong>
        </div>
        <ul class="panel-body list-group">
            {% for convite in perfil_logado.convites_recebidos.all %}
                <li class="list-group-item">
                    {{ convite.solicitante.nome }}
                    <a href="{% url 'aceitar' convite.id %}"  class="pull-right">ACEITAR</a>
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <div class="panel-heading">
                <strong>CONVITES AGUARDANDO APROVAÇÃO</strong>
            </div>
            <div  class="panel-body">
                <p>Nenhum Convite Recebido</p>
            </div>
        {% endif %}
        {% endwith %}
    </div>

    <div class="panel panel-info">
        {% with total_contatos=perfil_logado.contatos.count %}
        {% if total_contatos %}
        <div class="panel-heading">
            <strong>
                VOCÊ TEM {{ total_contatos }} 
                CONTATO{{ total_contatos |pluralize}}
            </strong>
        </div>
        <ul class="panel-body list-group">
            {% for contato in perfil_logado.contatos.all %}
                <li class="list-group-item">
                    <a href="{% url 'exibir' contato.id %}">{{ contato.nome }}</a>
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <div class="panel-heading">
                <strong>CONTATOS</strong>
            </div>
            <div  class="panel-body">
                <p>Nenhum Contato</p>
            </div>
        {% endif %}
        {% endwith %}
    </div>
</div> 
{% endblock %}